// 👇 This will override the default background
html, body, .site, .page, .page__inner {
  background-color: #f5f5f5 !important;
  background-image: none !important;
}

body::before {
  content: none !important;
}
